@font-face {
  font-family: 'HeroLight';
  src: url('assets/fonts//Hero-Light.woff2') format('woff2'), url('assets/fonts//Hero-Light.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  src: url('assets/fonts//raleway-regular.woff2') format('woff2'),
    url('assets/fonts//raleway-regular.woff') format('woff');
}
